<!doctype html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <title>Procrast Nation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Abel|Sacramento">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/principal.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/plugin/bootstrap-calendar/css/calendar.css"
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>
<body>
    <article class="aplicativo">
        <div class="container">
            <div class="col-sm-12 col-md-10 col-md-offset-1 conteudo">
                <h1 class="text-center login-title">Procrast Nation</h1>
                <div class="" id="calendar">                    
                    
                </div>
            </div>
        </div>
    </article>    
    
    
    
	<script type="text/javascript" src="/plugin/bootstrap-calendar/components/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/plugin/bootstrap-calendar/components/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="/plugin/bootstrap-calendar/js/language/pt-BR.js"></script>
    <script type="text/javascript" src="/plugin/bootstrap-calendar/js/calendar.min.js"></script>
	<script type="text/javascript" src="/plugin/bootstrap-calendar/js/app.js"></script>
</body>
</html>
